'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin, text.html.php':
    'Standard UL Function':
        'prefix': 'xs'
        'body': 'xStdFx::${1:printPre}(${2:$response});'
    'SQL String':
        'prefix': 'sql'
        'body': '$sqlString = "\n\t$1\n\t";'
    'Loud Comment':
        'prefix': 'com'
        'body': '######---------------------------------------------------\n###### $1\n######---------------------------------------------------'
    'Start Navigation':
        'prefix': 'ul-start'
        'body': '<div class="xHeadNav">\n\t
                    <div class="container">\n\t\t
                        <div class="xHeadRight">\n\t\t\t
                            <a title="App Settings" onclick="<?php echo $xPage->hfLink(\'mod::p:settings|n:app\', \'click\', [\'only\'=>1]); ?>; return false;" href="#"><i class="ulicon-settings"></i></a> &nbsp;\n\t\t\t
                            <a title="We need your feedback for this app!" href="/concerto/ent/<?php echo $app->id; ?>"><i class="ulicon-message"></i></a>\n\t\t
                        </div>\n\t\t
                        <div class="xHeadTitle">\n\t\t\t
                            <span class="xHeadBreadcrumb app-title">\n\t\t\t\t
                                <?php echo $app->instance->rec->data[\'title\']; ?>\n\t\t\t
                            </span>\n\t\t
                        </div>\n\t\t
                        <div class="xHeadTabs">\n\t\t\t
                            <div class="xHeadTabsLeft">\n\t\t\t\t
                                <?php\n
                                \n\t\t\t\t
                                $links = array();\n
                                \n\t\t\t\t
                                $links[\'template_items\'] = [\n\t\t\t\t\t
                                \'t\'=>\'Template_items\',\n\t\t\t\t
                                ];\n
                                \n\t\t\t\t
                                $app->sbNav->links(\n\t\t\t\t\t
                                    array(\n\t\t\t\t\t\t
                                        \'name\'=>\'start\',\n\t\t\t\t\t\t
                                        \'mod\'=>\'start\',\n\t\t\t\t\t\t
                                        \'links\'=>$links,\n\t\t\t\t\t
                                    )\n\t\t\t\t
                                );\n\t\t\t\t
                                ?>\n \n\t\t\t
                            </div>\n\t\t
                        </div>\n\t
                    </div>\n
                    </div>\n \n
                    <?php\n
                    $app->sbNav->sec(array(\n\t
                    \'name\'=>\'start\',\n\t
                    \'click\'=>\'start::n:start|p:\'.key($links),\n
                    ));\n'
