# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'shift-cmd-e': 'userlite-utilities:ulMasterUrl'
  'shift-ctrl-e': 'userlite-utilities:ulMasterUrl'
  'shift-cmd-x': 'userlite-utilities:navMaster-xEnd'
  'shift-ctrl-x': 'userlite-utilities:navMaster-xEnd'
  'shift-cmd-k': 'userlite-utilities:Cleanup'
  'shift-ctrl-k': 'userlite-utilities:Cleanup'
  'cmd-shift-c': 'userlite-utilities:nav-current'
  'ctrl-shift-c': 'userlite-utilities:nav-current'
