# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor:not([mini])':
    'shift-cmd-k': 'userlite-utilities:Cleanup'
    'shift-ctrl-k': 'userlite-utilities:Cleanup'
    'ctrl-cmd-[': 'userlite-utilities:Show-PrintPre'
    'ctrl-cmd-]': 'userlite-utilities:Hide-PrintPre'
    'escape': 'userlite-utilities:backoff-multi-select'
    'shift-escape': 'userlite-utilities:remove-multi-select'
